body, html{
    margin:0;
    font-family: sfThin;
    text-rendering: optimizeLegibility;



}
#nav *:Hover {
    border-color: rgb(255, 98, 5);
    transition: border 200ms ease;
    text-decoration: none;
    border-radius: 0px;
    margin:12px;
    font-family: sfThin;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 22px;
    align-items: center;
    font-weight: normal;
    justify-content: center;
    color: white;
    flex-shrink: 0;

}
h1 {
    display: block;
    font-family: sf;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h2 {
    display: block;
    font-family: sfThin;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h3 {
    display: block;
    font-family: sfRegular;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h5 {
    display: block;
    font-family: sfThin;
    color:white;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h6 {
    display: block;
    font-family: sfThin;
    opacity: .9;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    line-height: normal;
    z-index: -300;
  }

  .carousel-caption{
    cursor:default;
    height:50%;
    text-shadow: none;
    opacity: 0;
    transition: opacity 1000ms ease;
  }

  .carousel-caption:hover{
    transition: opacity 200ms ease;
    text-shadow: none;
    opacity: 1;
  }




#nav{
  display:flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:fixed;
  flex-wrap: wrap;
  opacity: .85;
  width: 100%;
  background-color: black;
  z-index: 100;

  box-shadow: 0px 1px 8px #2d2d2d;
}

#nav *{
  opacity: 1;
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 0px;
  margin:12px;
  font-family: sfThin;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 22px;
  align-items: center;
  font-weight: normal;
  justify-content: center;
  color: white;
  flex-shrink: 0;
  border-bottom: solid black 1px;

}


#panel-one{
  /*
  background-image: url(panelone1.jpg);
  background-size:cover;
  background-position: bottom;
  height: 60vh;
  */
  background-color: gray;

}
#panel-two{
  display:flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;


}
.panel-two-one{
  display: flex;
  display: -webkit-flex;
  min-width: 100px;
  flex-direction: row;
  align-content: center;
justify-content: center;
flex-grow: 1;
}
#webAppsDiv{
  line-height: normal;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.07);
  padding: 30px;

}
input[type="text"], input[type="search"], [type="password"]{
    width: 100%;
    box-sizing: content-box;
    min-width: 300px;
    max-width: 500px;
    height: 25px;
    margin-left: 10px;
    margin-top: 0;
    padding:0;
    font-family: sf;
    font-size: 23px;
    margin-right: 10px;
}

input[type="number"] {
    width:50px;
    box-sizing: content-box;
    height: 25px;
    margin-left: 5px;
    font-family: sf;
    font-size: 23px;
    margin-right: 10px;
}



.permInfo{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  flex-direction: row;

}
.info_example{
  display: flex;
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  align-items: center;

}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cards * {
  margin: 10px;
}

.comboInfo{
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;


}
.comboTry{
  flex-grow: 1;
  display:flex;
  flex-direction: row;
  justify-content: center;


}

.permTry{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: 10px;
    margin-right: 10px;

}
.comboTryInputs{
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  font-size: 24px;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
}
.permTryInputs{
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  font-size: 24px;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
}

.top{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
}

.comboOut{
  flex-grow: 1;
  flex-flow: row;
  display:flex;
  justify-content: center;
  margin-top: 10px;
  /*
  box-shadow: 0px 1px 4px #2d2d2d;
  overflow-y: scroll;
  */
}
.permOut{
  flex-grow: 1;
  flex-flow: row;
  display:flex;
  justify-content: center;
  margin-top: 10px;
  /*
  box-shadow: 0px 1px 4px #2d2d2d;
  overflow-y: scroll;
  */
}

div.comboOut *{
  display: flex;
  padding-top:5px;
  margin-left: 3px;
  margin-right:3px;
  flex-grow: 1;
  justify-content: center;

  border-radius: 3px;
  max-height: 430px;
  min-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 1px 4px #2d2d2d;

}

div.permOut *{
  display: flex;
  padding-top:5px;
  margin-left: 3px;
  margin-right:3px;
  flex-grow: 1;
  justify-content: center;

  border-radius: 3px;
  max-height: 430px;
  min-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 1px 4px #2d2d2d;

}

.backButton {
 background-image: url(b.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 489px;
 width: 65px;

}
.backButton:hover {
  background-image: url(bO.png);
}


.permButtons{
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 3px;
  margin:10px;
  font-family: sfThin;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: black;
  flex-shrink: 0;
  flex-grow: 0;
  border: solid black 2px;
}

.permButtons:Hover{
    border-color: rgb(255, 98, 5);
}

.runButtons{
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 3px;
  font-family: sfThin;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  padding-bottom: 3px;
  align-items: center;
  justify-content: center;
  color: black;
  height:25px;
  border: solid black 2px;
}

.runButtons:Hover{
    border-color: rgb(255, 98, 5);
}





#panel-three{
  padding-top:30px;
  padding-bottom: 30px;
  background-color:rgba(0, 0, 0, 0.07);
}
footer, push {

display: flex;
flex-direction: row;
background-color: rgb(255, 98, 5);
}
.contactGo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.linkedInIcone{
  background-image: url(lin2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 40px;
}
.githubIcone{
  display: flex;
  font-family: sfThin;
  font-size: 20px;
  margin: 40px;
  color: rgb(13, 13, 13, 0.99);
  align-items: center;
  justify-content: center;
  background-image: url(gh2.png);
  background-repeat: no-repeat;
  background-size:contain;
  width: 150px;
  height: 150px;
}

@font-face {
    font-family: sf;
    src: url(sfUltraThin.ttf);
}

@font-face {
  font-family: sfThin;
  src: url(sfThin.ttf);
}

@font-face {
  font-family: sfRegular;
  src: url(sfRegular.ttf);
}
