body, html{
    margin:0;
    font-family: sfThin;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;



}
hr{
  border: none;
    height: 2px;
    /* Set the hr color */
    color: rgb(186,186, 186); /* old IE */
    background-color: rgb(186, 186, 186); /* Modern Browsers */
    width: 70%;
}
#nav *:Hover {
    border-color: rgb(255, 98, 5);
    transition: border 200ms ease;
    text-decoration: none;
    border-radius: 0px;

    font-family: sfThin;

    font-size: 21px;
    align-items: center;
    font-weight: normal;
    justify-content: center;
    color: white;
    flex-shrink: 0;

}
h1 {
    display: block;
    font-family: sf;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h2 {
    display: block;
    font-family: sfThin;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h3 {
    display: block;
    font-family: sfRegular;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h5 {
    display: block;
    font-family: sfThin;
    color:white;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

h6 {
    display: block;
    font-family: sfThin;

    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;

}

.containerMy {
    display:flex;

    display: -webkit-flex;
    padding-top: 100px;
    flex-direction: column;

    flex-wrap:wrap;

    line-height: normal;
    z-index: -300;
  }

  .carousel-caption{
    cursor:default;
    height:50%;
    text-shadow: none;
    opacity: 0;
    transition: opacity 1000ms ease;
  }

  .carousel-caption:hover{
    transition: opacity 200ms ease;
    text-shadow: none;
    opacity: 1;
  }


  .lazy-load {
      background: url("http://www.mozart.it/images/preloader.gif") center center no-repeat;
  }


#nav{
  display:flex;

  display: -webkit-flex;
  flex-direction: row;

  justify-content: center;

  align-items: center;
  -webkit-align-items: center;

  position:fixed;
  flex-wrap: wrap;

  opacity: .80;
  width: 100%;
  background-color: black;
  z-index: 100;

  box-shadow: 0px 1px 8px #2d2d2d;
}

#nav *{
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 0px;
  margin-top:9px;
  margin-bottom:9px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sfThin;
  padding-top: 1px;
  padding-bottom: 1px;

  font-size: 21px;
  align-items: center;
  -webkit-align-items: center;
  font-weight: normal;
  justify-content: center;
  color: white;
  flex-shrink: 0;
  border-bottom: solid black 1px;

}


#panel-one{
  /*
  background-image: url(panelone1.jpg);
  background-size:cover;
  background-position: bottom;
  height: 60vh;
  */
  padding-top: 51px;
 background-color: black;

}
#panel-two{
  display:flex;

  display: -webkit-flex;
  flex-wrap: wrap;

  flex-direction: row;

  padding-top: 20px;
  padding-bottom: 30px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;


}
.panel-two-one{
  display: flex;
  display: -webkit-flex;
  min-width: 100px;
  flex-direction: row;
  align-content: center;
  -webkit-align-items: center;
  justify-content: center;
  flex-grow: 1;
}
#webAppsDiv{
  line-height: normal;
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;

  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  /*background-color:rgba(223, 223, 223, 0.89);*/
  padding-top: 30px;
  padding-bottom: 20px;

}
input[type="text"], input[type="search"], [type="password"]{
    width: 100%;
    box-sizing: content-box;
    min-width: 300px;
    max-width: 500px;
    height: 26px;
    margin-left: 10px;
    margin-top: 0;
    padding:0;
    font-family: sf;
    font-size: 22px;
    margin-right: 10px;
}

input[type="number"] {
    width:50px;
    box-sizing: content-box;
    height: 26px;
    margin-left: 5px;
    font-family: sf;
    font-size: 22px;
    margin-right: 10px;
}



.permInfo{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

  text-rendering: optimizeLegibility;
  font-size: 18px;
  flex-direction: row;


}
.info_example{
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;

  max-width: 420px;


}

.cards {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;

  margin-top: 10px;
  margin-bottom: 10px;
}
.cards * {
  margin: 10px;
}

.comboInfo{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

  text-rendering: optimizeLegibility;
  font-size: 18px;
  flex-direction: row;


}
.comboTry{
  display:flex;

  display: -webkit-flex;
  flex-direction: row;

  justify-content: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;


}

.permTry{
  display:flex;

  display: -webkit-flex;
  flex-direction: row;

  justify-content: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

}
.comboTryInputs{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

  flex-grow:1;
  font-size: 24px;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
}
.permTryInputs{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

  flex-grow:1;
  font-size: 24px;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
}

.top{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
}

.comboOut{
  flex-grow: 1;
  flex-flow: row;
  display:flex;
  display: -webkit-flex;

  justify-content: center;
  margin-top: 10px;
  /*
  box-shadow: 0px 1px 4px #2d2d2d;
  overflow-y: scroll;
  */
}
.permOut{
  flex-grow: 1;
  flex-flow: row;
  display:flex;

  display: -webkit-flex;
  justify-content: center;
  margin-top: 10px;
  /*
  box-shadow: 0px 1px 4px #2d2d2d;
  overflow-y: scroll;
  */
}

div.comboOut *{
  display: flex;
  display: -webkit-flex;
  padding-top:5px;
  margin-left: 3px;
  margin-right:3px;
  flex-grow: 1;
  justify-content: center;

  border-radius: 3px;
  max-height: 430px;
  min-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 1px 4px #2d2d2d;

}

div.permOut *{
  display: flex;
  display: -webkit-flex;
  padding-top:5px;
  margin-left: 3px;
  margin-right:3px;
  flex-grow: 1;
  justify-content: center;

  border-radius: 3px;
  max-height: 430px;
  min-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 1px 4px #2d2d2d;

}

.backButton {
 background-image: url(b.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 489px;
 width: 65px;

}
.backButton:hover {
  background-image: url(bO.png);
}


.permButtons{
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 3px;
  margin:10px;
  margin-left: auto;
  margin-right: auto;
  font-family: sfThin;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 32px;
  width: 90px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  color: black;
  flex-shrink: 0;
  flex-grow: 0;
  border: solid black 4px;
}

.permButtons:Hover{
    border-color: rgb(255, 98, 5);
}

.runButtons{
  cursor: pointer;
  transition: border 200ms ease;
  text-decoration: none;
  border-radius: 3px;
  font-family: sfThin;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  padding-bottom: 3px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  color: black;
  height:25px;
  border: solid black 2px;
}

.runButtons:Hover{
    border-color: rgb(255, 98, 5);
}


#panel-three{
  display:flex;

  display: -webkit-flex;
  flex-wrap: wrap;

  flex-direction: row;

  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  background-color:rgb(231, 231, 231);
}
footer, push {

display: flex;
display: -webkit-flex;
flex-direction: column;

padding-top: 30px;
align-items: center;
-webkit-align-items: center;
justify-content: center;
padding-bottom: 30px;
background-color: rgba(192, 73, 4,  0.81);
}

.linkedInIcone{
  display: flex;

  flex-direction: column;
align-items: center;
  font-family: sfThin;
  font-size: 18px;
  color: white;

}
.githubIcone{
  display: flex;
  flex-direction: column;
  font-family: sfThin;
  font-size: 18px;
  color: white;
  align-items: center;
}

.contactLogo{
  display: flex;
  flex-direction: column;
  font-family: sfThin;
  font-size: 18px;
  align-items: center;
  color: white;

}

#git{
  display: inline-block;
    background-image: url(ghl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 17px;
    width: 17px;
    border: none;
    transition: background-image 200ms ease;
}
#git:hover{
    background-image: url(ghlH.png);
    transition: background-image 200ms ease;

}

#linkedin{
    background-image: url(lil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 16px;
    width: 16px;
    border: none;

    transition: background-image 200ms ease;
}

#linkedin:hover{
    background-image: url(lilH.png);
    transition: background-image 200ms ease;

}
/*
@font-face {
    font-family: sf;
    src: url(fonts/sfUltraThin.ttf);
}

@font-face {
  font-family: sfThin;
  src: url(fonts/sfThin.ttf);
}

@font-face {
  font-family: sfRegular;
  src: url(fonts/sfRegular.ttf);
}
*/
@font-face {
    font-family: 'sf';
    src: url('sf/sfultrathin-webfont.eot');
    src: url('sf/sfultrathin-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf/sfultrathin-webfont.woff2') format('woff2'),
         url('sf/sfultrathin-webfont.woff') format('woff'),
         url('sf/sfultrathin-webfont.ttf') format('truetype'),
         url('sf/sfultrathin-webfont.svg#sfns_displayultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfThin';
    src: url('sf/sfthin-webfont.eot');
    src: url('sf/sfthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf/sfthin-webfont.woff2') format('woff2'),
         url('sf/sfthin-webfont.woff') format('woff'),
         url('sf/sfthin-webfont.ttf') format('truetype'),
         url('sf/sfthin-webfont.svg#sfns_displaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfns_displaybold';
    src: url('sf/sfregular-webfont.eot');
    src: url('sf/sfregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf/sfregular-webfont.woff2') format('woff2'),
         url('sf/sfregular-webfont.woff') format('woff'),
         url('sf/sfregular-webfont.ttf') format('truetype'),
         url('sf/sfregular-webfont.svg#sfns_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sfRegular';
    src: url('sf/sfbold-webfont.eot');
    src: url('sf/sfbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf/sfbold-webfont.woff2') format('woff2'),
         url('sf/sfbold-webfont.woff') format('woff'),
         url('sf/sfbold-webfont.ttf') format('truetype'),
         url('sf/sfbold-webfont.svg#sfns_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
